#avatar-container {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

#avatar-login {
    width: 20%;
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.ion-item {
    margin: 0px !important;
}
