<app-header title="Detalles Categoria" [backButton]="true"></app-header>

<ion-content [fullscreen] class="ion-padding" color="light">

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8" size-sm="10" size-xs="12">
        <ion-card *ngIf="bookDetails">
          <ion-fab vertical="top" horizontal="end">
            <ion-fab-button target="_blank" [href]="bookDetails.volumeInfo.infoLink"
              [translucent] size="small" color="light">
                <ion-icon name="logo-google"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-card-content>
            <ion-row>
              <ion-col size-md="4" size-sm="5" size-xs="12">
                <img [src]="bookDetails.volumeInfo.imageLinks?.thumbnail 
                      || './assets/images/no-image-found.png'" class="book-thumbnail" />
              </ion-col>
              <ion-col size-md="8" size-sm="7" size-xs="12" class="ion-text-start">
                <div class="ion-padding">
                  <p>
                      <span *ngFor="let author of bookDetails.volumeInfo.authors">{{ author }}&nbsp;</span>
                  </p>
                  <p>
                    <small>{{ bookDetails.volumeInfo.publishedDate | date: 'yyyy/MM/dd' }}</small>
                  </p>
                  <h1>{{ bookDetails.volumeInfo.title }}</h1>
                  <p>
                      <span>{{ bookDetails.volumeInfo.subtitle }}</span>
                  </p>
                  <br/>
                  <p>
                    <ion-icon class="icon-star" size="large" *ngFor="let n of [1,2,3]" name="star"></ion-icon>
                    <ion-icon class="icon-star" size="large" *ngFor="let n of [4,5]" name="star-outline"></ion-icon>
                  </p>
                  <br/>
                  <p *ngIf="bookDetails.volumeInfo.description.length > 400">
                    {{ bookDetails.volumeInfo.description | 
                        slice:0:(readMore ? bookDetails.volumeInfo.description.length : 400) }}
                    <a style="cursor: pointer;" (click)="readMore = !readMore">
                      Leer {{ readMore ? 'menos' : 'más' }}
                    </a>
                  </p>
                  <p *ngIf="bookDetails.volumeInfo.description.length <= 400">
                    {{ bookDetails.volumeInfo.description }}
                  </p>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>