<ion-header color="light">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Recuperación de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] scroll-y="false" color="light">

  <ion-slides #slides [options]="slidesOpts" class="slide-full">
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-sm="8" size-xs="10">
            <ion-card>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label position="floating">Correo electrónico</ion-label>
                    <ion-icon name="mail" slot="start" class="ion-align-self-center"></ion-icon>
                    <ion-input type="text" [(ngModel)]="email" #emailModel="ngModel" email required></ion-input>
                  </ion-item>
                  <div style="text-align: left;">
                    <small *ngIf="emailModel.pristine || emailModel.valid"
                      style="visibility: hidden;">none</small>
                    <small class="text-danger"
                      *ngIf="emailModel.dirty && emailModel.hasError('required')">
                      El correo es <strong>requerido</strong>
                    </small>
                    <small class="text-danger" 
                      *ngIf="emailModel.dirty && emailModel.hasError('email')">
                      Formato de correo inválido
                    </small>
                  </div>
                </ion-list>
                <ion-button [disabled]="emailModel.invalid" (click)="validateEmail()"
                    expand="full" color="primary">Solicitar</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    
    <ion-slide>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-sm="8" size-xs="10">
            <ion-card>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    <ion-label position="floating">Nueva contraseña</ion-label>
                    <ion-icon name="key" slot="start" class="ion-align-self-center"></ion-icon>
                    <ion-input type="password" [(ngModel)]="password" 
                      #passwordModel="ngModel" required minlength="6"></ion-input>
                  </ion-item>
                  <div style="text-align: left;">
                    <small *ngIf="passwordModel.pristine || passwordModel.valid"
                      style="visibility: hidden;">none</small>
                    <small class="text-danger" 
                      *ngIf="passwordModel.dirty && passwordModel.hasError('required')">
                      La contraseña es <strong>requerida</strong>
                    </small>
                    <small class="text-danger" 
                      *ngIf="passwordModel.dirty && passwordModel.hasError('minlength')">
                      La contraseña es demasiado corta
                    </small>
                  </div>
      
                  <ion-item>
                    <ion-label position="floating">Confirmar contraseña</ion-label>
                    <ion-icon name="key" slot="start" class="ion-align-self-center"></ion-icon>
                    <ion-input type="password" [(ngModel)]="confirmPassword" #confirmModel="ngModel" required></ion-input>
                  </ion-item>
                  <div style="text-align: left;">
                    <small *ngIf="confirmModel.pristine || confirmModel.valid"
                      style="visibility: hidden;">none</small>
                    <small class="text-danger"
                      *ngIf="confirmModel.dirty && passwordModel.value !== confirmModel.value">
                      Las contraseñas no <strong>coinciden</strong>
                    </small>
                  </div>
                </ion-list>
                <ion-button [disabled]="passwordModel.invalid || passwordModel.value !== confirmModel.value" 
                  color="primary" expand="full" type="button" 
                  (click)="changePassword()">Actualizar</ion-button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
