<app-header title="Preguntas, Quejas y Reclamos"></app-header>

<ion-content [fullscreen] class="ion-padding" color="light">

    <!-- Fab button -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentAlertPrompt()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-grid>
      <ion-row>
        <ion-col size-md="6" size-sm="8" size-xs="12">
          <ion-item lines="none" color="light">
            <ion-toggle slot="start" color="success" [(ngModel)]="answered"></ion-toggle>
            <ion-label>{{ answered ? 'Respondidas' : 'Sin responder' }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
        <ion-row class="ion-justify-content-start">
          <ion-col size="12" *ngIf="(pqrs | pqrsFilter:answered).length === 0">
            <ion-card>
              <ion-card-content>
                No se encontraron registros
              </ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col size-md="4" size-sm="6" size-xs="12" *ngFor="let pqr of (pqrs | pqrsFilter:answered)">
            <ion-card @cardAnimation>

              <!-- Fab -->
              <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button color="danger" size="small" (click)="presentAlertConfirm(pqr.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-fab-button>
              </ion-fab>

              <ion-card-content style="padding: 0px;" (click)="details(pqr.id)">
                <ion-list>
                  <ion-item lines="none">
                    <ion-avatar slot="start">
                      <img *ngIf="pqr.user.avatar" [src]="pqr.user.avatar | avatarImg">
                      <img *ngIf="pqr.user.image" [src]="pqr.user.image | imageUrl: 'Profiles'">
                    </ion-avatar>
                    <ion-label>
                      <p>{{ pqr.description }}</p>
                      <p>
                        <code><small>{{ pqr.createdDate | date: 'short' }}</small></code>
                      </p>
                      <hr>
                      <ion-badge [color]="pqr.answered ? 'success' : 'light'">
                        {{ pqr.answered ? 'Respondida' : 'Pendiente' }}
                      </ion-badge>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
</ion-content>