<app-header title="Inicio"></app-header>

<ion-content [fullscreen] class="ion-padding" color="light">
    <ion-slides [options]="slidesOpts">
        <ion-slide>
            <ion-grid>
                <ion-row class="ion-justify-content-center">
                    <ion-col *ngFor="let item of items" size-md="3" size-sm="4" size-xs="6">
                        <ion-card class="ion-text-center" [href]="'/admin/' + item.path">
                            <ion-card-header>
                                <ion-card-title>{{ item.label }}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-icon [name]="item.icon"></ion-icon>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>